@css-prefix: ovu-;
@css-prefix-iconfont: ovu-icon;
/* Colors
------------------------ */
@--color-white: #fff !important;
@--color-blank: #000 !important;

@--color-primary: #19cbab;
@--color-primary-light-1: mix(@--color-white, @--color-primary, 10%);
@--color-primary-light-2: mix(@--color-white, @--color-primary, 20%);
@--color-primary-light-3: mix(@--color-white, @--color-primary, 30%);
@--color-primary-light-4: mix(@--color-white, @--color-primary, 40%);
@--color-primary-light-5: mix(@--color-white, @--color-primary, 50%);
@--color-primary-light-6: mix(@--color-white, @--color-primary, 60%);
@--color-primary-light-7: mix(@--color-white, @--color-primary, 70%);
@--color-primary-light-8: mix(@--color-white, @--color-primary, 80%);
@--color-primary-light-9: mix(@--color-white, @--color-primary, 90%);

@--color-success: #009b72;
@--color-warning: #e6a23c;
@--color-danger: #f56c6c;
@--color-info: #909399;

@--color-text-primary: #303133;
@--color-text-regular: #606266;
@--color-text-secondary: #909399;
@--color-text-placeholder: #c0c4cc;

/* Links
------------------------ */
@--link-color: @--color-primary-light-2;
@--link-color-hover: @--color-primary;

/* Border
------------------------ */
@--border-width-base: 1px;
@--border-style-base: solid;
@--border-color-base: #dcdfe6;
@--border-base: @--border-width-base @--border-style-base @--border-color-base;
@--border-radius-base: 4px;

/* Box-shadow
------------------------ */


/* Font
------------------------ */
@--font-size-base: 14px;

/* Size
------------------------ */
@--size-base: 14px;


/* Layout and Grid
------------------------ */
@--grid-columns: 24;
@--grid-gutter-width: 0;
/* Header
------------------------ */
@--header-padding: 0 20px;

/* Footer
------------------------ */
@--footer-padding: 0 20px;

/* Main
------------------------ */
@--main-padding: 0 20px;

/* Break-point
------------------------ */
// Extra small screen / phone
@--screen-xs: 480px;
@--screen-xs-min: @--screen-xs;
@--screen-xs-max: (@--screen-xs - 1);

// Small screen / tablet
@--screen-sm: 768px;
@--screen-sm-min: @--screen-sm;
@--screen-sm-max: (@--screen-sm - 1);

// Medium screen /  desktop
@--screen-md: 992px;
@--screen-md-min: @--screen-md;
@--screen-md-max: (@--screen-md - 1);

// Large screen / width desktop
@--screen-lg: 1200px;
@--screen-lg-min: @--screen-lg;
@--screen-lg-max: (@--screen-lg - 1);

@--screen-xl: 1600px;
@--screen-xl-min: @--screen-xl;
@--screen-xl-max: (@--screen-xl - 1);

@--screen-xll: 1920px;
@--screen-xll-min: @--screen-xll;
@--screen-xll-max: (@--screen-xll - 1);

/* Grid and Layout
------------------------ */
@--grid-columns: 24;
@--grid-gutter-width: 0;
